[submodule "JSP2.3-sutdy"]
	path = JSP2.3-sutdy
	url = git@github.com:IMWoo94/JSP2.3-sutdy.git
[submodule "godofjava-study"]
	path = godofjava-study
	url = git@github.com:IMWoo94/godofjava-study.git
[submodule "oopinspring-study"]
	path = oopinspring-study
	url = git@github.com:IMWoo94/oopinspring-study.git
[submodule "spring-study-01"]
	path = spring-study-01
	url = git@github.com:IMWoo94/spring-study-01.git
[submodule "toby-spring-study-01"]
	path = toby-spring-study-01
	url = git@github.com:IMWoo94/toby-spring-study-01.git
[submodule "spring-core-basic"]
	path = spring-core-basic
	url = git@github.com:IMWoo94/spring-core-basic.git
[submodule "spring-core-advanced"]
	path = spring-core-advanced
	url = git@github.com:IMWoo94/spring-core-advanced.git
[submodule "spring-mvc-01"]
	path = spring-mvc-01
	url = git@github.com:IMWoo94/spring-mvc-01.git
[submodule "java-performance-tuning-stroy"]
	path = java-performance-tuning-stroy
	url = git@github.com:IMWoo94/java-performance-tuning-stroy.git
[submodule "spring-db-01"]
	path = spring-db-01
	url = git@github.com:IMWoo94/spring-db-01.git
[submodule "spring-mvc-02"]
	path = spring-mvc-02
	url = git@github.com:IMWoo94/spring-mvc-02.git
[submodule "spring-db-02"]
	path = spring-db-02
	url = git@github.com:IMWoo94/spring-db-02.git
[submodule "jpa-basic"]
	path = jpa-basic
	url = git@github.com:IMWoo94/jpa-basic.git
[submodule "springboot-jpa-web-application-01"]
	path = springboot-jpa-web-application-01
	url = git@github.com:IMWoo94/springboot-jpa-web-application-01.git
[submodule "springboot-jpa-web-application-02"]
	path = springboot-jpa-web-application-02
	url = git@github.com:IMWoo94/springboot-jpa-web-application-02.git
